# Writing data to and reading data from a Database using Python

## Libraries and settings

In [1]:
# Libraries
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Get current working directory
print(os.getcwd())

U:\Lektionen\DA_HS2022\KK\Week_13

## Read data from file to data frame

In [5]:
df = pd.read_csv('mty.csv', 
                  sep=',', 
                  encoding='utf-8')

# Rename columns
df = df.rename(columns={ 'web-scraper-order': 'id',
                         'web-scraper-start-url': 'url'})

print(df.shape)
df.head(5)

(600, 6)

,id,url,price_raw,adress_raw,attributes_raw,description_raw
0,1673287854-41,https://www.inmuebles24.com/inmuebles-en-monte...,"MN 2,900,000","Cumbres, Monterrey",156 m² 175 m² 3 rec. 2 baños 2 estac.,Hermosa casa en venta ubicada en cerradas de C...
1,1673287854-42,https://www.inmuebles24.com/inmuebles-en-monte...,"MN 747,000","RIO SUCHIATELomas de Valle Alto, Monterrey",497 m² 470 m² 4 rec. 3 baños 2 estac.,Excelente oportuninad de invertir en tu patrim...
2,1673287854-43,https://www.inmuebles24.com/inmuebles-en-monte...,"MN 745,000","PASEO DEL ACANTILADO 3234Cumbres 2do Sector, M...",162 m² 250 m² 4 rec. 2 baños 1 estac.,Increíble casa en excelente zona. Gran oportun...
3,1673287854-44,https://www.inmuebles24.com/inmuebles-en-monte...,"MN 980,000","Río Suchiate 1284Lomas de Valle Alto, Monterrey",509 m² 298 m² 4 rec. 3 baños 3 estac.,La oportunidad de tener la casa de tus sueños ...
4,1673287854-45,https://www.inmuebles24.com/inmuebles-en-monte...,"MN 1,115,000","Contry, Monterrey",320 m² 640 m² 4 rec. 2 baños 2 estac.,Remate bancario * cesion de derechos adjudicat...

## Create sqlite data base

In [9]:
# Create data base
conn = sqlite3.connect('mexican_database.db') 
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

mexican_database.db

## Create SQL-table in the database

In [11]:
cursor.execute('''CREATE TABLE IF NOT EXISTS mexican_table (id VARCHAR(50),
                                                            url VARCHAR(50),
                                                            price_raw VARCHAR(50),
                                                            adress_raw VARCHAR(200),
                                                            attributes_raw VARCHAR(100),
                                                            description_raw VARCHAR(500))''')
# Confirm changes to the table
conn.commit()

## Write data to the SQL-table in data base

In [12]:
df.to_sql(name = 'mexican_table',
          con = conn,
          index = False,
          if_exists = 'replace')

600

## Query the SQL-table

In [33]:
# Query the SQL-table
cursor.execute("""SELECT * FROM mexican_table
                  WHERE adress_raw LIKE '%Cumbres%'""")

df = pd.DataFrame(cursor.fetchall(), 
                  columns=['id','url','price_raw','adress_raw', 'attributes_raw', 'description_raw'])    
print(df)

                 id                                                url  \
0     1673287854-41  https://www.inmuebles24.com/inmuebles-en-monte...
1     1673287854-43  https://www.inmuebles24.com/inmuebles-en-monte...
2     1673287854-46  https://www.inmuebles24.com/inmuebles-en-monte...
3     1673287854-49  https://www.inmuebles24.com/inmuebles-en-monte...
4     1673287854-52  https://www.inmuebles24.com/inmuebles-en-monte...
..              ...                                                ...
265  1673288242-632  https://www.inmuebles24.com/inmuebles-en-monte...
266  1673288242-634  https://www.inmuebles24.com/inmuebles-en-monte...
267  1673288242-635  https://www.inmuebles24.com/inmuebles-en-monte...
268  1673288242-638  https://www.inmuebles24.com/inmuebles-en-monte...
269  1673288242-640  https://www.inmuebles24.com/inmuebles-en-monte...

        price_raw                                         adress_raw  \
0    MN 2,900,000                                 Cumbres, Monterrey
1      MN 745,000  PASEO DEL ACANTILADO 3234Cumbres 2do Sector, M...
2    MN 2,590,000                         San RemoCumbres, Monterrey
3    MN 4,000,000                    Las Cumbres 2 Sector, Monterrey
4      MN 750,000                  Colinas de las Cumbres, Monterrey
..            ...                                                ...
265    MN 750,000                  Colinas de las Cumbres, Monterrey
266    MN 600,000                  Apolo 353Cumbres 6to D, Monterrey
267    MN 550,000                         Cumbres Madeira, Monterrey
268    MN 600,000  APOLO 353, CUMBRES 6o SECTOR, SECCIÓN ACumbres...
269     MN 12,900                          AltrysaCumbres, Monterrey

                                attributes_raw  \
0    156 m²  175 m²  3 rec.  2 baños  2 estac.
1    162 m²  250 m²  4 rec.  2 baños  1 estac.
2            119 m²  3 rec.  2 baños  2 estac.
3    204 m²  152 m²  3 rec.  2 baños  1 estac.
4    152 m²  300 m²  4 rec.  2 baños  3 estac.
..                                         ...
265  152 m²  300 m²  4 rec.  2 baños  3 estac.
266   190 m²  190 m²  3 rec.  1 baño  2 estac.
267  180 m²  160 m²  3 rec.  2 baños  2 estac.
268  190 m²  190 m²  3 rec.  3 baños  2 estac.
269  119 m²  150 m²  3 rec.  2 baños  2 estac.

                                       description_raw
0    Hermosa casa en venta ubicada en cerradas de C...
1    Increíble casa en excelente zona. Gran oportun...
2    Bonita casa con cochera doble con portón eléct...
3    Hermosa casa habitación, con excelente ubicaci...
4    Increible casa super atractiva! ¡muy bien ubic...
..                                                 ...
265  Increible casa super atractiva! ¡muy bien ubic...
266  Apolo 353, Cumbres 6to D, Nuevo Leon, Monterre...
267  Increible casa super atractiva! ¡muy bien ubic...
268  *¡gran venta especial! * obten tu nuevo patrim...
269  Casa en renta nueva a estrenar, en fraccionami...

[270 rows x 6 columns]